# merge placement and meta data in one common csv

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
df_iit = pd.read_csv("/Users/anuragchaubey/smart-college-recommender/data/cleaned/iit_placement_cleaned.csv")
df_iiit = pd.read_csv("/Users/anuragchaubey/smart-college-recommender/data/cleaned/iiit_placement_cleaned.csv")
df_nit = pd.read_csv("/Users/anuragchaubey/smart-college-recommender/data/cleaned/nit_placement_cleaned.csv")

In [49]:
df_iiit.head(3)

,year,institute_name,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,institute_type,cse_vs_ece_gap
0,2020,ABV-IIITM Gwalior,16.85,27.23,16.00,IIIT,11.23
1,2020,IIIT Agartala,22.00,19.50,13.83,IIIT,5.67
2,2020,IIIT Allahabad,20.83,20.83,16.00,IIIT,4.83

In [50]:
df_iit.head(3)

,year,institute_name,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,ee_avg_ctc,me_avg_ctc
0,2020,IIT Bhilai,11.30,11.82,12.00,11.21,7.51
1,2020,IIT Bhubaneswar,15.80,22.60,15.80,15.80,12.00
2,2020,IIT Bombay,20.08,20.08,17.91,20.08,20.65

In [51]:
df_nit.head(3)

,year,institute_name,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,ee_avg_ctc,me_avg_ctc,chemical_avg_ctc,civil_avg_ctc
0,2020,IIEST Shibpur,7.30,9.50,16.5,8.00,7.30,6.417747,5.75
1,2020,MNIT Jaipur,9.10,18.39,9.1,9.94,13.20,10.350000,6.00
2,2020,MNNIT Allahabad,17.19,17.68,11.0,17.68,17.68,9.000000,6.54

In [52]:
# add institute_type column in nit iit data
df_iit["institute_type"] = "IIT"
df_nit["institute_type"] = "NIT"

In [53]:
# add cse vs ece gap in nit and iit data
df_iit["cse_vs_ece_gap"] = df_iit["cse_avg_ctc"] - df_iit["ece_avg_ctc"]
df_nit["cse_vs_ece_gap"] = df_nit["cse_avg_ctc"] - df_nit["ece_avg_ctc"]

In [54]:
# add columns which are not there in iit and iiit data with nan values
for df in [df_iiit, df_iit, df_nit]:
    for col in ['ee_avg_ctc', 'me_avg_ctc', 'civil_avg_ctc', 'chemical_avg_ctc']:
        if col not in df.columns:
            df[col] = np.nan

In [55]:
# allign all the columns 
final_columns = [
    'year', 'institute_name', 'institute_type',
    'overall_avg_ctc',
    'cse_avg_ctc', 'ece_avg_ctc','cse_vs_ece_gap', 'ee_avg_ctc',
    'me_avg_ctc', 'civil_avg_ctc', 'chemical_avg_ctc'
]

df_iiit = df_iiit[final_columns]
df_iit = df_iit[final_columns]
df_nit = df_nit[final_columns]

In [56]:
# concatenate all the placement data
df_placement = pd.concat([df_iiit, df_iit, df_nit], ignore_index=True)

In [133]:
df_placement.isnull().sum()

year                  0
institute_name        0
institute_type        0
overall_avg_ctc       0
cse_avg_ctc           0
ece_avg_ctc           0
cse_vs_ece_gap        0
ee_avg_ctc          140
me_avg_ctc          140
civil_avg_ctc       255
chemical_avg_ctc    255
dtype: int64

In [57]:
# save the final placement csv
df_placement.to_csv("/Users/anuragchaubey/smart-college-recommender/data/merged/placement_final.csv", index=False)

# merge meta_data with  placement csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_placement = pd.read_csv("/Users/anuragchaubey/smart-college-recommender/data/merged/placement_final.csv")
df_placement.sample(5)

,year,institute_name,institute_type,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,cse_vs_ece_gap,ee_avg_ctc,me_avg_ctc,civil_avg_ctc,chemical_avg_ctc
302,2021,NIT Nagaland,NIT,8.09,4.22,4.22,0.00,5.25,3.00,4.22,8.09
289,2021,NIT Andhra Pradesh,NIT,6.29,10.70,6.29,4.41,6.29,6.47,6.47,8.13
343,2022,NIT Warangal,NIT,25.50,25.50,18.90,6.60,22.00,17.29,8.93,14.80
179,2021,IIT Mandi,IIT,18.00,13.50,20.85,-7.35,20.85,13.36,NaN,NaN
177,2021,IIT Kharagpur,IIT,19.00,15.00,21.28,-6.28,21.14,15.00,NaN,NaN

In [4]:
df_placement.isnull().sum()

year                  0
institute_name        0
institute_type        0
overall_avg_ctc       0
cse_avg_ctc           0
ece_avg_ctc           0
cse_vs_ece_gap        0
ee_avg_ctc          140
me_avg_ctc          140
civil_avg_ctc       255
chemical_avg_ctc    255
dtype: int64

In [5]:
df_meta = pd.read_csv("/Users/anuragchaubey/smart-college-recommender/data/cleaned/metadata_cleaned.csv")
df_meta.sample(5)

,institute_name,institute_type,city,state,city_tier,total_fee_4yr,total_fee_5yr,hostel_available,campus_area,infra_rating,campus_status,offers_5yr_program
34,NIT Rourkela,NIT,Rourkela,Odisha,2,743000,743000.0,True,650.0,4.8,Available,True
78,IIIT Agartala,IIIT,Agartala,Tripura,3,811000,0.0,False,0.0,4.3,Under Construction,False
25,NIT Bhopal,NIT,Bhopal,Madhya Pradesh,2,580000,766000.0,True,650.0,4.7,Available,True
79,IIIT Raichur,IIIT,Raichur,Karnataka,3,1093000,0.0,False,0.0,4.4,Under Construction,False
11,IIT Patna,IIT,Patna,Bihar,2,999250,1000000.0,True,501.0,4.2,Available,True

In [6]:
df_meta.isnull().sum()

institute_name        0
institute_type        0
city                  0
state                 0
city_tier             0
total_fee_4yr         0
total_fee_5yr         0
hostel_available      0
campus_area           0
infra_rating          0
campus_status         0
offers_5yr_program    0
dtype: int64

In [7]:
missing_meta = pd.DataFrame([
    {
        'institute_name': 'iiit bangalore',
        'institute_type': 'IIIT',
        'city': 'Bangalore',
        'state': 'Karnataka',
        'city_tier': 1,
        'total_fee_4yr': 2024000,
        'total_fee_5yr': 2632000,
        'hostel_available': True,
        'campus_area': 9.0,
        'infra_rating': 4.5,
        'campus_status': 'Available',
        'offers_5yr_program': True
    },
    {
        'institute_name': 'iiit bhubaneswar',
        'institute_type': 'IIIT',
        'city': 'Bhubaneswar',
        'state': 'Odisha',
        'city_tier': 1,
        'total_fee_4yr': 996000,
        'total_fee_5yr': 0.0,
        'hostel_available': True,
        'campus_area': 23.0,
        'infra_rating': 3.9,
        'campus_status': 'Available',
        'offers_5yr_program': False
    },
    {
        'institute_name': 'iiit delhi',
        'institute_type': 'IIIT',
        'city': 'Delhi',
        'state': 'Delhi',
        'city_tier': 1,
        'total_fee_4yr': 2399000,
        'total_fee_5yr': 0.0,
        'hostel_available': True,
        'campus_area': 25.0,
        'infra_rating': 4.5,
        'campus_status': 'Available',
        'offers_5yr_program': False
    },
    {
        'institute_name': 'iiit hyderabad',
        'institute_type': 'IIIT',
        'city': 'Hyderabad',
        'state': 'Telangana',
        'city_tier': 1,
        'total_fee_4yr': 1800000, 
        'total_fee_5yr': 2000000,  
        'hostel_available': True,
        'campus_area': 66.0,
        'infra_rating': 4.7,
        'campus_status': 'Available',
        'offers_5yr_program': True
    },
    {
        'institute_name': 'iiit manipur',
        'institute_type': 'IIIT',
        'city': 'Imphal',
        'state': 'Manipur',
        'city_tier': 1,
        'total_fee_4yr': 1197000,
        'total_fee_5yr': 0.0,
        'hostel_available': True,
        'campus_area': 13.0,
        'infra_rating': 3.6,
        'campus_status': 'Available',
        'offers_5yr_program': False
    },
    {
        'institute_name': 'iiit naya raipur',
        'institute_type': 'IIIT',
        'city': 'Naya Raipur',
        'state': 'Chhattisgarh',
        'city_tier': 2,
        'total_fee_4yr': 653250,
        'total_fee_5yr': 840000,  
        'hostel_available': True,
        'campus_area': 50.0,
        'infra_rating': 4.3,
        'campus_status': 'Available',
        'offers_5yr_program': True
    }
])

df_meta = pd.concat([df_meta, missing_meta], ignore_index=True)

In [8]:
df_meta = df_meta.drop(columns=['institute_type'])

In [9]:
# clean institute name for safe merge
df_placement['institute_name'] = df_placement['institute_name'].str.strip().str.lower()

# replace some institute_name to standardize the names
institute_name_mapping = {
    'abv-iiitm gwalior': 'iiit gwalior',
    'mnit jaipur': 'nit jaipur',
    'mnnit allahabad': 'nit allahabad',
    'vnit nagpur': 'nit nagpur',

    'iiest shibpur': 'iiest shibpur',
    'iiit agartala': 'iiit agartala',
    'iiit allahabad': 'iiit allahabad',
    'iiit bangalore': 'iiit bangalore',
    'iiit bhagalpur': 'iiit bhagalpur',
    'iiit bhopal': 'iiit bhopal',
    'iiit bhubaneswar': 'iiit bhubaneswar',
    'iiit delhi': 'iiit delhi',
    'iiit dharwad': 'iiit dharwad',
    'iiit guwahati': 'iiit guwahati',
    'iiit hyderabad': 'iiit hyderabad',
    'iiit kalyani': 'iiit kalyani',
    'iiit kota': 'iiit kota',
    'iiit kottayam': 'iiit kottayam',
    'iiit kurnool': 'iiit kurnool',
    'iiit lucknow': 'iiit lucknow',
    'iiit manipur': 'iiit manipur',
    'iiit nagpur': 'iiit nagpur',
    'iiit naya raipur': 'iiit naya raipur',
    'iiit pune': 'iiit pune',
    'iiit raichur': 'iiit raichur',
    'iiit ranchi': 'iiit ranchi',
    'iiit sri city': 'iiit sri city',
    'iiit surat': 'iiit surat',
    'iiit una': 'iiit una',
    'iiit vadodara': 'iiit vadodara',
    'iiitdm jabalpur': 'iiitdm jabalpur',
    'iiitdm kancheepuram': 'iiitdm kancheepuram',
    'iit bhilai': 'iit bhilai',
    'iit bhubaneswar': 'iit bhubaneswar',
    'iit bombay': 'iit bombay',
    'iit delhi': 'iit delhi',
    'iit dhanbad': 'iit dhanbad',
    'iit dharwad': 'iit dharwad',
    'iit gandhinagar': 'iit gandhinagar',
    'iit goa': 'iit goa',
    'iit guwahati': 'iit guwahati',
    'iit hyderabad': 'iit hyderabad',
    'iit indore': 'iit indore',
    'iit jammu': 'iit jammu',
    'iit jodhpur': 'iit jodhpur',
    'iit kanpur': 'iit kanpur',
    'iit kharagpur': 'iit kharagpur',
    'iit madras': 'iit madras',
    'iit mandi': 'iit mandi',
    'iit palakkad': 'iit palakkad',
    'iit patna': 'iit patna',
    'iit roorkee': 'iit roorkee',
    'iit ropar': 'iit ropar',
    'iit tirupati': 'iit tirupati',
    'iit varanasi': 'iit varanasi',
    'nit agartala': 'nit agartala',
    'nit andhra pradesh': 'nit andhra pradesh',
    'nit arunachal pradesh': 'nit arunachal pradesh',
    'nit calicut': 'nit calicut',
    'nit delhi': 'nit delhi',
    'nit durgapur': 'nit durgapur',
    'nit goa': 'nit goa',
    'nit hamirpur': 'nit hamirpur',
    'nit jalandhar': 'nit jalandhar',
    'nit jamshedpur': 'nit jamshedpur',
    'nit kurukshetra': 'nit kurukshetra',
    'nit manipur': 'nit manipur',
    'nit meghalaya': 'nit meghalaya',
    'nit mizoram': 'nit mizoram',
    'nit nagaland': 'nit nagaland',
    'nit patna': 'nit patna',
    'nit puducherry': 'nit puducherry',
    'nit raipur': 'nit raipur',
    'nit rourkela': 'nit rourkela',
    'nit sikkim': 'nit sikkim',
    'nit silchar': 'nit silchar',
    'nit srinagar': 'nit srinagar',
    'nit surathkal': 'nit surathkal',
    'nit trichy': 'nit trichy',
    'nit uttarakhand': 'nit uttarakhand',
    'nit warangal': 'nit warangal',
}

df_placement['institute_name'] = df_placement['institute_name'].replace(institute_name_mapping)

In [10]:
# meta_data institute_name correction
df_meta['institute_name'] = df_meta['institute_name'].str.strip().str.lower()

meta_name_map = {
    'abv-iiitmg': 'iiit gwalior',
    'iiest shibpur': 'iiest shibpur',
    'iiit agartala': 'iiit agartala',
    'iiit bhagalpur': 'iiit bhagalpur',
    'iiit bhopal': 'iiit bhopal',
    'iiit kalyani': 'iiit kalyani',
    'iiit kota': 'iiit kota',
    'iiit kottayam': 'iiit kottayam',
    'iiit raichur': 'iiit raichur',
    'iiit ranchi': 'iiit ranchi',
    'iiit sonepat': 'iiit sonepat',
    'iiit surat': 'iiit surat',
    'iiit vicd': 'iiit vicd',
    'iiita': 'iiit allahabad',
    'iiitdm kancheepuram': 'iiitdm kancheepuram',
    'iiitdm kurnool': 'iiit kurnool',
    'iiitdmj': 'iiitdm jabalpur',
    'iiitdwd': 'iiit dharwad',
    'iiitg': 'iiit guwahati',
    'iiitl': 'iiit lucknow',
    'iiitm': 'iiit gwalior',
    'iiitn': 'iiit nagpur',
    'iiitp': 'iiit pune',
    'iiits': 'iiit sri city',
    'iiitt': 'iiit tiruchirappalli',
    'iiitu': 'iiit una',
    'iiitv': 'iiit vadodara',
    'iit (bhu) varanasi': 'iit varanasi',
    'iit (ism) dhanbad': 'iit dhanbad',
    'iit bhilai': 'iit bhilai',
    'iit bhubaneswar': 'iit bhubaneswar',
    'iit bombay': 'iit bombay',
    'iit delhi': 'iit delhi',
    'iit dharwad': 'iit dharwad',
    'iit gandhinagar': 'iit gandhinagar',
    'iit goa': 'iit goa',
    'iit guwahati': 'iit guwahati',
    'iit hyderabad': 'iit hyderabad',
    'iit indore': 'iit indore',
    'iit jammu': 'iit jammu',
    'iit jodhpur': 'iit jodhpur',
    'iit kanpur': 'iit kanpur',
    'iit kharagpur': 'iit kharagpur',
    'iit madras': 'iit madras',
    'iit mandi': 'iit mandi',
    'iit palakkad': 'iit palakkad',
    'iit patna': 'iit patna',
    'iit roorkee': 'iit roorkee',
    'iit ropar': 'iit ropar',
    'iit tirupati': 'iit tirupati',
    'nit agartala': 'nit agartala',
    'nit allahabad': 'nit allahabad',
    'nit andhra pradesh': 'nit andhra pradesh',
    'nit arunachal pradesh': 'nit arunachal pradesh',
    'nit bhopal': 'nit bhopal',
    'nit calicut': 'nit calicut',
    'nit delhi': 'nit delhi',
    'nit durgapur': 'nit durgapur',
    'nit goa': 'nit goa',
    'nit hamirpur': 'nit hamirpur',
    'nit jaipur': 'nit jaipur',
    'nit jalandhar': 'nit jalandhar',
    'nit jamshedpur': 'nit jamshedpur',
    'nit karnataka': 'nit surathkal',
    'nit kurukshetra': 'nit kurukshetra',
    'nit manipur': 'nit manipur',
    'nit meghalaya': 'nit meghalaya',
    'nit mizoram': 'nit mizoram',
    'nit nagaland': 'nit nagaland',
    'nit nagpur': 'nit nagpur',
    'nit patna': 'nit patna',
    'nit puducherry': 'nit puducherry',
    'nit raipur': 'nit raipur',
    'nit rourkela': 'nit rourkela',
    'nit sikkim': 'nit sikkim',
    'nit silchar': 'nit silchar',
    'nit srinagar': 'nit srinagar',
    'nit surat': 'nit surat',
    'nit tiruchirappalli': 'nit trichy',
    'nit uttarakhand': 'nit uttarakhand',
    'nit warangal': 'nit warangal'
}


df_meta['institute_name'] = df_meta['institute_name'].replace(meta_name_map)

In [11]:
# merge entire data
df_master = pd.merge(
    df_placement,
    df_meta,
    on='institute_name',
    how='left'  # Left join so all placement rows are preserved
)

In [12]:
df_master = df_master.drop(columns=['institute_type_y'], errors='ignore')

In [13]:
df_master = df_master.rename(columns={'institute_type_x': 'institute_type'})

In [14]:
df_master.head(5)

,year,institute_name,institute_type,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,cse_vs_ece_gap,ee_avg_ctc,me_avg_ctc,civil_avg_ctc,...,city,state,city_tier,total_fee_4yr,total_fee_5yr,hostel_available,campus_area,infra_rating,campus_status,offers_5yr_program
0,2020,iiit gwalior,IIIT,16.85,27.23,16.00,11.23,NaN,NaN,NaN,...,Gwalior,Madhya Pradesh,2,907000,790000.0,True,160.0,4.7,Available,True
1,2020,iiit gwalior,IIIT,16.85,27.23,16.00,11.23,NaN,NaN,NaN,...,Imphal,Manipur,3,1197000,0.0,False,0.0,4.2,Under Construction,False
2,2020,iiit agartala,IIIT,22.00,19.50,13.83,5.67,NaN,NaN,NaN,...,Agartala,Tripura,3,811000,0.0,False,0.0,4.3,Under Construction,False
3,2020,iiit allahabad,IIIT,20.83,20.83,16.00,4.83,NaN,NaN,NaN,...,Prayagraj,Uttar Pradesh,2,844000,1536000.0,True,100.0,4.5,Available,True
4,2020,iiit bangalore,IIIT,24.88,32.30,36.20,-3.90,NaN,NaN,NaN,...,Bangalore,Karnataka,1,2024000,2632000.0,True,9.0,4.5,Available,True

In [130]:
df_master

,year,institute_name,institute_type,overall_avg_ctc,cse_avg_ctc,ece_avg_ctc,cse_vs_ece_gap,ee_avg_ctc,me_avg_ctc,civil_avg_ctc,...,city,state,city_tier,total_fee_4yr,total_fee_5yr,hostel_available,campus_area,infra_rating,campus_status,offers_5yr_program
0,2020,iiit gwalior,IIIT,16.85,27.23,16.00,11.23,NaN,NaN,NaN,...,Gwalior,Madhya Pradesh,2.0,907000.0,790000.0,True,160.00,4.7,Available,True
1,2020,iiit gwalior,IIIT,16.85,27.23,16.00,11.23,NaN,NaN,NaN,...,Imphal,Manipur,3.0,1197000.0,0.0,False,0.00,4.2,Under Construction,False
2,2020,iiit agartala,IIIT,22.00,19.50,13.83,5.67,NaN,NaN,NaN,...,Agartala,Tripura,3.0,811000.0,0.0,False,0.00,4.3,Under Construction,False
3,2020,iiit allahabad,IIIT,20.83,20.83,16.00,4.83,NaN,NaN,NaN,...,Prayagraj,Uttar Pradesh,2.0,844000.0,1536000.0,True,100.00,4.5,Available,True
4,2020,iiit bangalore,IIIT,24.88,32.30,36.20,-3.90,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,2024,nit surathkal,NIT,16.25,23.24,20.89,2.35,13.70,16.25,16.25,...,Surathkal,Karnataka,3.0,797000.0,0.0,True,296.00,4.9,Available,False
406,2024,nit trichy,NIT,25.97,27.27,23.00,4.27,19.30,15.76,12.90,...,Tiruchirappalli,Tamil Nadu,2.0,1062000.0,640000.0,True,800.00,4.7,Available,True
407,2024,nit uttarakhand,NIT,10.40,10.40,10.40,0.00,10.40,10.40,10.40,...,"Srinagar, Uttarakhand",Uttarakhand,3.0,853000.0,660000.0,True,300.00,4.1,Available,True
408,2024,nit warangal,NIT,15.60,29.67,20.58,9.09,16.71,13.59,9.14,...,Warangal,Telangana,2.0,543000.0,640000.0,True,248.00,4.8,Available,True
409,2024,nit nagpur,NIT,12.28,16.80,12.50,4.30,11.44,12.14,6.80,...,Nagpur,Maharashtra,2.0,769000.0,0.0,True,215.26,4.6,Available,False

In [15]:
df_master.isnull().sum()

year                    0
institute_name          0
institute_type          0
overall_avg_ctc         0
cse_avg_ctc             0
ece_avg_ctc             0
cse_vs_ece_gap          0
ee_avg_ctc            145
me_avg_ctc            145
civil_avg_ctc         260
chemical_avg_ctc      260
city                    0
state                   0
city_tier               0
total_fee_4yr           0
total_fee_5yr           0
hostel_available        0
campus_area             0
infra_rating            0
campus_status           0
offers_5yr_program      0
dtype: int64

In [18]:
df_master.shape

(410, 21)

In [20]:
df_master.to_csv("/Users/anuragchaubey/smart-college-recommender/data/merged/final_data.csv",index=False)